.contenedor {
  display: flex;
  gap: 1px; /* Espacio entre columnas */
}
.columna {
  flex: 1; /* Ambas columnas ocupan el mismo ancho */
  padding: 10px;
}

body{
    background-color:#f3f4f5;
}

h2{
   font-size:24px;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #757575;
}